.button-sml {
	background: #eacd83; /* Old browsers */
	border-left: 2px solid #dbbd78;
	border-top: 2px solid #dbbd78;
	border-bottom: 2px solid #997121;
	border-right: 2px solid #997121;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	color: #3d2f00;
	display: inline-block;
	font-size: 11px;
	text-decoration: none;
	cursor: pointer;
	line-height: normal;
	padding: 0px;
	text-transform:uppercase;
	width: 66px;
	height: 17px;
	margin-left: 5px; 
}

.button-sml:hover {
	background: #ebd393;
}

input.subscribe {
	border:1px solid #999;
	background-color: #fff;
	height:15px;
	width:160px;
	color:#000;
	margin:0;
	padding: 0px 2px;
}
